body {
    background: rgb(231,251,63);
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(90, 86, 86, 0.911) 100%);;
  }
  

.grid-container {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 50% ;
    
    
}
.grid-item1 {
    background: rgb(9, 53, 102);
    text-align: center;
    grid-column-start: 1; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 3;
    color: aliceblue;
}
.grid-item2 {
    background: rgb(34, 100, 177);
    text-align: center;
   
    color: aliceblue;
}
.grid-item3 {
    background: rgb(211, 208, 208);
    text-align: center;
   
    color: rgb(9, 53, 102);
}




  .ampliar:hover {
    transform: scale(1.4); /* Aumentar el tamaño en un 20% al pasar el mouse */
    transition: transform 0.5s ease; /* Animación suave de la transformación */
  }

.ampliar{
    border-radius: 50%;
    width: 200PX ;
    height: 200PX;
}